* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

html {
    background-color: #FFF4FD;
}

header {
    height: 23px;
    width: 100%;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    margin-bottom: 35px;
}

.topTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    padding-left: 8px;
    padding-top: 4px;
}

.navbar {
    margin-left: 91px;
    margin-right: 91px;
    max-width: 1208.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 102.6px;
    height: 64px;
}

.navbar .logo img {
    display: block;
    margin: 0 auto;
}

.navButton {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    line-height: 18px;
    width: 144px;
    height: 36px;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-left: 16px;
}

.navButton:nth-child(even) {
    width: 131px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
}

.buttonWrapper .dropdown {
    height: 34px;
    width: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 16.5px;
}

.buttonWrapper .dropdown img {
    display: block;
    margin: 14px auto;

}

.buttonWrapper span {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    line-height: 32px;
    text-decoration: none;
    height: 32px;
    width: 95px;
}

.buttonWrapper span::first-letter {
    border-bottom: 1px solid #110038;
}

.navButton:hover {
    background: #E6BBE2;
    cursor: pointer;
}

.dropdown:hover {
    background: #E6BBE2;
    cursor: pointer;
}

.buttonWrapper span:hover {
    border: 1px dotted #110038;
    cursor: pointer;
}




