/*Variables*/

$background-light: #FFF4FD;
$background-dark: #110038;
$primary-font: 'Chakra Petch', sans-serif;
$light-gradient: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$dark-gradient: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

%title {
    max-width: 1200px;
    height: 32px;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 32px;
    padding-left: 7px;
    color: #110038;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    margin-bottom: 16px;
}

%top-window {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    height: 24px;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
    background-image: $light-gradient;
    padding-left: 3px;

}

%buttons {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    line-height: 36px;
    text-align: center;
    width: 144px;
    height: 36px;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;            
}

* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

button:focus {
    outline: none;
}

body {
    background-color: $background-light;
    margin: 0 auto;

    .top-title {
        height: 23px;
        width: 100%;
        background-image: $light-gradient;
        box-shadow: 0 1px 0 0 #110038;
        margin-bottom: 35px;
        font-family: $primary-font;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 16px;
        padding-left: 8px;
    }

    .navbar {
        margin-left: 91px;
        margin-right: 91px;
        max-width: 1208.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;

        .logo {
            width: 102.6px;
            height: 64px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .buttons-wrapper {
            display: flex;
            align-items: center;

            .nav-button {
                @extend %buttons;
                margin-left: 16px;
                &:hover {
                    background: #E6BBE2;
                    cursor: pointer;
                    outline: 1px dotted #110038;
                    outline-offset: -3px;
                }
                a {
                    text-decoration: none;
                    &:visited {
                        color: inherit;
                    }
                }
            }

            .dropdown-wrapper {
                display: flex;
                position: relative;
                
                .nav-button {
                    width: 132px;
                }

                .dropdown-btn {
                    height: 34px;
                    width: 36px;
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    margin-right: 16.5px;
                    text-align: center;
                    line-height: 32px;
                    &:hover {
                        background: #E6BBE2;
                        cursor: pointer;
                        outline: 1px dotted #110038;
                        outline-offset: -3px;
                    }
                }

                .dropdown-menu {
                    width: 170px;
                    height: 102px;
                    background: #E6E6E6;
                    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                    position: absolute;
                    top: 36px;
                    left: 16px;
                    z-index: 999;
                    display: none;
                    &.active {
                        display: block;
                    }
                

                    button {
                        width: 150px;
                        height: 36px;
                        background: #F0F0F0;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        font-family: 'Chakra Petch', sans-serif;
                        font-size: 16px;
                        color: #110038;
                        line-height: 22px;
                        display: block;
                        margin: 10px;
                        cursor: pointer;
                        text-align: left;
                        padding-left: 16px;
                        &::first-letter {
                            border-bottom: 1px solid #110038; 
                        }
                        &.selected {
                            background: #FFF4FD;
                            border: 1px solid #CCA6C9;
                            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                        }
                    
                    }

                    img {
                        display: block;
                        margin: 14px auto;
                    
                    }
                }
            }

            .my-gif {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #110038;
                line-height: 32px;
                text-decoration: none;
                height: 32px;
                width: 95px;
                border: 1px solid transparent;
                &::first-letter {
                    border-bottom: 1px solid #110038;
                }
                &:hover {
                    border: 1px dotted #110038;
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    &:visited {
                        color: #110038;
                    }
                }
            }

            
        }
    }

    .content-wrapper {
        max-width: 1200px !important;
        margin: 0 auto !important;

        .search-container {
            position: relative;
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            width: 100%;
            height: 99px;
            display: flex;
            margin-bottom: 64px;

            .top-bar {
                @extend %top-window;

            }

            input {
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                margin: 39px 0 12px 15px;
                height: 48px;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                line-height: 22px;
                padding-left: 16px;
                width: 1040px;
                cursor: text;
                &:focus {
                    outline: none;
                    }
            }

            .search-button {
                background: #E6E6E6;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                width: 102px;
                height: 36px;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                line-height: 36px;
                margin-top: 45px;
                margin-left: 8px;
                margin-right: 18px; 
                display: flex;
                justify-content: center;
                &.active {
                    cursor: pointer;
                    color: #110038;
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }
                &:active {
                    outline: 1px dotted #110038;
                    outline-offset: -3px;
                }
                
                #search-icon {
                    margin-right: 9px;
                }
            }
            
            .results-tab {
                width: 100%;
                height: 160px;
                background: #E6E6E6;
                box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                position: absolute;
                top: 100px;
                z-index: 999;
                flex-direction: column;
                padding-top: 16px;
                padding-bottom: 16px;
                justify-content: space-between;
                display: none;
                    &.active {
                        display: flex;
                    }

                    span {
                        font-family: $primary-font;
                        font-size: 16px;
                        margin-left: 16px;
                        font-weight: bold;
                    }

                    .result-container {
                        max-width: 1038px;
                        background: #F0F0F0;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        height: 36px;
                        margin-left: 16px;
                        line-height: 36px;
                        font-size: 16px;
                        font-family: $primary-font;
                        padding-left: 16px;
                        cursor: pointer;
                        &:hover {
                            outline: 1px dotted #110038;
                            outline-offset: -2px;
                        }
                    }

                }
           }    
            
        



        .today-container {
            margin-bottom: 64px;

            .title {
                @extend %title;
            }

            .gif-grid {
                display: flex !important;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .gif-container {
                    width: 288px;
                    height: 313px;
                    background: #E6E6E6;
                    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                    position: relative;
                    

                    .top-window {
                        @extend %top-window;
                        display: flex;
                        right: 4px;
                        left: 4px;
                        line-height: 24px;
                        padding-right: 24px;
                        overflow: hidden;
                    }

                    .see-more {
                        position: absolute;
                        bottom: 15px;
                        left: 7px;
                        width: 81px;
                        height: 34px;
                        font-family: 'Chakra Petch', sans-serif;
                        font-size: 14px;
                        line-height: 34px;
                        color: #FFFFFF;
                        background: #4180F6;
                        border: 1px solid #4C2F99;
                        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            outline: 1px dotted #110038;
                            outline-offset: -3px;
                        }
                    }
                    .random {
                        position: absolute;
                        left: 4px;
                        bottom: 4px;
                        height: 304px;
                        width: 280px;
                        &:hover {
                            outline: 1px dotted #110038;
                            outline-offset: -1px;;
                        }
                    }
                    .close-icon {
                        position: absolute;
                        z-index: 99;
                        top: 8px;
                        right: 8px;
                        cursor: pointer;
                    }
                }

            }
        }

        .trending-container {
            
            .title {
                @extend %title;

            }

            .gif-grid {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .gif-trending {
                    position: relative;
                    width: 288px;
                    
                    .gif-img {
                        background: #E6E6E6;
                        margin-bottom: 16px;
                        height: 298px;
                        width: 100%;
                        &:hover ~ .bottom-bar {
                            visibility: visible;
                        }
                        
                        &:hover {
                            outline: 1px dotted #110038;
                            outline-offset: -4px;      
                        }
                                                      
                    }        
                    .bottom-bar {
                        @extend %top-window;
                        visibility: hidden;
                        top: 274px;
                        right: 0;
                        left: 0;
                        overflow: hidden;
                        
                    }    


                }

                
            }

        }

        .gif-creator {
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            height: 386px;
            width: 684px;
            margin: 56px auto 153px;
            position: relative;
            

            .top-bar {
                @extend %top-window;
            }

            .window-img {
                position: absolute;
                left: 25px;
                top: 57px;
            }
            
            .text-wrap {
                position: absolute;
                left: 73px;
                top: 57px;
                
                h3 {
                    font-size: 16px;
                    color: #110038;
                    line-height: 22px;
                    font-family: $primary-font;
                    font-weight: bold;
                    margin-bottom: 17px;
                }

                span {
                    font-family: $primary-font;
                    font-size: 14px;
                    color: #110038;
                    line-height: 20px;
                }

                p {
                    font-family: $primary-font;
                    font-size: 14px;
                    color: #110038;
                    line-height: 28px;
                    width: 518px;
                }
            }

            .btn-wrapper {
                position: absolute;
                bottom: 36px;
                right: 36px;
                display: flex;

                .action-btn {
                    @extend %buttons;
                    margin-left: 16px;
                    cursor: pointer;
                    &:first-child {
                        background-color: #FFF4FD;
                    }
                }
                
            }
            
            video {
                position: absolute;
                top: 38px;
                width: 832px;
                height: 434px;
                right: 14px;
            }

            .btn-wrapper-capture {
                position: absolute;
                bottom: 16px;
                right: 14px;
                display: flex;
                cursor: pointer;

                .capture-btn {
                    @extend %buttons;
                    &.recording {
                        background: #FF6161;
                        color: #FFFFFF;
                    }
                }  
                .camera-btn {
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    height: 36px;
                    width: 36px;
                    &.recording {
                        background: #FF6161;
                    }
                    
                    img {
                        display: block;
                        margin: 9px auto; 
                    }
                }

            }
            
            .clock {
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                position: absolute;
                bottom: 16px;
                left: 14px;
                width: 124px;
                height: 36px;

            }

            .preview-img {
                position: absolute;
                top: 38px;
                height: 434px;
                right: 0;
                left: 0;
                margin: 0 auto;
            }

            .button-wrapper {
                position: absolute;
                bottom: 16px;
                right: 16px;
                
                .upload-btn {
                    @extend %buttons;
                    cursor: pointer;
                    &:first-child {
                        background-color: #FFF4FD;
                        margin-right: 14px;
                    }
                }
                .cancel-btn {
                    @extend %buttons;
                    cursor: pointer;
                    background-color: #FFF4FD;
                }
                .done-btn {
                    @extend %buttons;
                    cursor: pointer;
                }
            }

            .white-background {
                position: absolute;
                top:35px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 838px;
                height: 440px;
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;

                .title-container {
                    position: absolute;
                    top: 139px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    
                    img {
                        margin: 0 auto 8px;
                    }
    
                    .title {
                        font-family: $primary-font;
                        font-weight: bold;
                        font-size: 16px;
                        color: #110038;
                        text-align: center;
                        line-height: 22px;
                        margin-bottom: 71px;
                        
                    }
                    .subtitle {
                        font-family: $primary-font;
                        font-size: 12px;
                        color: rgba(17,0,56,0.64);
                        text-align: center;
                        line-height: 14px;
                    }
                    
                }
            }
            .final-container {
                position: absolute;
                top: 54px;
                height: 196px;
                width: 700px;
                left: 24px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                img {
                    width: 365px;
                    height: 191px;
                    background: #FFFFFF;
                    border: 1px solid #979797;
                    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                }

                .title {
                    font-family: $primary-font;
                    font-weight: bold;
                    font-size: 16px;
                    color: #110038;
                    line-height: 22px;
                    margin-top: 20px;
                    margin-bottom: 16px;
                    
                }

                .final-btn {
                    @extend %buttons;
                    width: 256px;
                    background-color: #FFF4FD;
                    margin-bottom: 14px;
                    cursor: pointer;
                }
            }
        }
         
    
    }
    
}





