/*Variables*/

$background-light: #FFF4FD;
$background-dark: #110038;
$primary-font: 'Chakra Petch', sans-serif;
$light-gradient: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$dark-gradient: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

%title {
    max-width: 1200px;
    height: 32px;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 32px;
    padding-left: 7px;
    color: #110038;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    margin-bottom: 16px;
}

%top-window {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    height: 24px;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
    background-image: $light-gradient;
    padding-left: 3px;

}

* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

button:focus {
    outline: none;
}

body {
    background-color: $background-light;

    .top-title {
        height: 23px;
        width: 100%;
        background-image: $light-gradient;
        box-shadow: 0 1px 0 0 #110038;
        margin-bottom: 35px;
        font-family: $primary-font;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 16px;
        padding-left: 8px;
    }

    .navbar {
        margin-left: 91px;
        margin-right: 91px;
        max-width: 1208.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;

        .logo {
            width: 102.6px;
            height: 64px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .buttons-wrapper {
            display: flex;
            align-items: center;

            .nav-button {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #110038;
                line-height: 18px;
                width: 144px;
                height: 36px;
                background-color: #F7C9F3;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                margin-left: 16px;
                &:hover {
                    background: #E6BBE2;
                    cursor: pointer;
                }
            }

            .dropdown-wrapper {
                display: flex;
                position: relative;
                
                .nav-button {
                    width: 132px;
                }

                .dropdown-btn {
                    height: 34px;
                    width: 36px;
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    margin-right: 16.5px;
                    text-align: center;
                    line-height: 32px;
                    &:hover {
                        background: #E6BBE2;
                        cursor: pointer;
                    }
                }

                .dropdown-menu {
                    width: 170px;
                    height: 102px;
                    background: #E6E6E6;
                    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                    position: absolute;
                    top: 36px;
                    left: 16px;
                    z-index: 999;
                    display: none;
                    &.active {
                        display: block;
                    }
                

                    button {
                        width: 150px;
                        height: 36px;
                        background: #F0F0F0;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        font-family: 'Chakra Petch', sans-serif;
                        font-size: 16px;
                        color: #110038;
                        line-height: 22px;
                        display: block;
                        margin: 10px;
                        cursor: pointer;
                        text-align: left;
                        padding-left: 16px;
                        &::first-letter {
                            border-bottom: 1px solid #110038; 
                        }
                    
                    }

                    img {
                        display: block;
                        margin: 14px auto;
                    
                    }
                }
            }

            .my-gif {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #110038;
                line-height: 32px;
                text-decoration: none;
                height: 32px;
                width: 95px;
                border: 1px solid transparent;
                &::first-letter {
                    border-bottom: 1px solid #110038;
                }
                &:hover {
                    border: 1px dotted #110038;
                    cursor: pointer;
                }
            }

            
        }
    }

    .content-wrapper {
        max-width: 1200px;
        margin-left: 100px;
        margin-right: 100px;

        .search-container {
            position: relative;
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            width: 100%;
            height: 99px;
            display: flex;
            margin-bottom: 64px;

            .top-bar {
                @extend %top-window;

            }

            input {
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                margin: 39px 0 12px 15px;
                height: 48px;
                width: 100%;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                line-height: 22px;
                padding-left: 16px;
                max-width: 1057px;
                &:focus {
                    outline: none;
                    }
            }

            .search-button {
                background: #E6E6E6;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                width: 102px;
                height: 36px;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                line-height: 36px;
                margin-top: 45px;
                text-align: center;
                margin-left: 8px;
                margin-right: 18px;        
            }
            
            .results-tab {
                width: 100%;
                height: 160px;
                background: #E6E6E6;
                box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                position: absolute;
                top: 100px;
                z-index: 999;
                display: flex;
                flex-direction: column;
                padding-top: 17px;
                padding-bottom: 17px;
                justify-content: space-between;
                display: none;
                    &.active {
                        display: block;
                    }

                    .result-container {
                        max-width: 1055px;
                        background: #F0F0F0;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        height: 36px;
                        margin-left: 16px;
                        line-height: 36px;
                        font-size: 16px;
                        font-family: $primary-font;
                        padding-left: 16px;
                    }

                }
           }    
            
        



        .today-container {
            margin-bottom: 64px;

            .title {
                @extend %title;
            }

            .gif-grid {
                display: grid;
                grid-template-columns: 288px 288px 288px 288px;
                grid-template-rows: 313px;
                column-gap: 16px;
                
                .gif-container {
                    background: #E6E6E6;
                    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                    position: relative;

                    .top-window {
                        @extend %top-window;
                        display: flex;
                        right: 4px;
                        left: 4px;
                        line-height: 24px;
                        padding-right: 3px;
                        justify-content: space-between;

                    }

                    .see-more {
                        position: absolute;
                        bottom: 15px;
                        left: 7px;
                        width: 81px;
                        height: 34px;
                        font-family: 'Chakra Petch', sans-serif;
                        font-size: 14px;
                        color: #FFFFFF;
                        background: #4180F6;
                        border: 1px solid #4C2F99;
                        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                        cursor: pointer;
                    }
                }

            }
        }

        .trending-container {

            .title {
                @extend %title;

            }
        }

    

    
    }
    
}





